{% block stylesheets %}
  <link href="{{ asset('css/validaciones.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('Script/validaciones.js') }}"></script>
{% endblock %}

{{ form_start(form, { 'attr' : {'id': 'formulario' }})}}
<div class="form-group">
  <label class="font-weight-bold">Nombre</label>
  {{form_widget(form.nombre, { 'attr': {'valLetrasAcentosNumerosEspacioPuntuacionesSimbolos': 'true', 'requerido': 'true', 'class': 'control form-control', 'placeholder': 'Ingrese el nombre'} })}}
  <div class="div-error"></div>
</div>
<div class="form-group">
  <label class="font-weight-bold">Descripción</label>
  {{form_widget(form.descripcion, { 'attr': {'valLetrasAcentosNumerosEspacioPuntuacionesSimbolos': 'true', 'requerido': 'true', 'class': 'control form-control', 'placeholder': 'Ingrese la descripción'} })}}
  <div class="div-error"></div>
</div>
<div class="form-group">
  <label class="font-weight-bold">Stock</label>
  {{form_widget(form.stock, { 'attr': {'maxlength': '9', 'valNumerosEnteros': 'true', 'requerido': 'true', 'class': 'control form-control', 'placeholder': 'Ingrese el stock'}, 'type': "text" })}}
  <div class="div-error"></div>
</div>
<button id="enviar" modo="{{modo|default('Registrar')}}" type="button" class="btn btn-primary">{{modo|default('Registrar')}}</button>